body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('Arequipa-Sunset.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}
  
#contenedor {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
  
h1 {
    margin-bottom: 20px;
    font-size: 40px;
}
  
#resultado {
    font-size: 40px;
    font-weight: bold;
}
