body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #f3f3f3;
}

input {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
