# Entorno virtual
env/

# Archivos de Python
__pycache__/
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales de editores
*.vscode/
*.idea/
*.swp
*.swo

# Archivos de logs
*.log

# Archivos compilados
*.pyc

# Archivos estáticos recolectados (si usas collectstatic)
staticfiles/

# Archivos de media subidos por usuarios (si los tienes)
media/

# Archivos de migraciones (opcional, si quieres ignorarlos)
# **/migrations/
.env